/* CSS RESET */
/* Box sizing rules */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* UTILS */
.justify-items-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-content: center;
}

/* STYLE */

:root {
  --content-width: 50em;
  --color-stroke: #d2d3d7;
  --link-color: #111;
  --nav-height: 3rem;
  --footer-height: 4rem;
}

a {
  color: var(--link-color);
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 1rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fff;
}

body.page_list {
  background-color: #f5f5f7;
}

.inner {
  width: var(--content-width);
}

.sticking {
  border-bottom: 4px solid lightgray;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-stroke);
  height: var(--nav-height);
  background-color: rgba(0, 0, 0, 0.8);
}

nav .logo {
  font-size: 1rem;
}

nav .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

nav .inner li {
  display: inline;
  padding-left: 10px;
  font-size: 1rem;
}

nav .inner a {
  text-decoration: none;
  color: #f5f5f7;
  opacity: 0.8;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav .inner a:hover {
  opacity: 1;
}

.posts {
  display: flex;
  justify-content: center;
}

.posts .inner {
  margin: 1rem 0 2rem;
}

.post {
  margin: 2rem 0 0;
}

.post .body {
  font-size: 1.2rem;
  line-height: 1.5;
}

.post h1.title {
  font-size: 2.5rem;
  line-height: 1.2;
}

.post .meta {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.3rem;
}

.post .meta time {
  color: darkgray;
  font-size: 1.2rem;
}

.pages {
  display: flex;
  margin-top: 1rem;
  flex-flow: row wrap;
  align-items: stretch;
  margin-right: -2rem;
}

.pages > * {
  flex: 1;
  display: flex;
}

.post.archive > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  min-width: 20rem;
}

.pages > * {
  margin: 0 2rem 2rem 0;
}

.post.archive {
  background-color: #fff;
  border-radius: 1rem;
}

.post.archive .image {
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  height: 266px;
  min-height: auto;
  width: 100%;
}

.post.archive .meta {
  display: flex;
  flex-grow: 1;
  gap: 0.2rem;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(1rem, 0.5rem + 1.5vw, 2rem);
}

.post.archive p {
  padding: 0;
  margin: 0.5rem 0;
}

.post.archive .meta ul.tags {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0;
}

.post.archive .meta ul.tags li {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.post.archive .meta ul.tags li:not(:last-child):after {
  content: '/';
  color: lightgray;
  padding: 0.3rem;
}

.post.archive .meta ul.tags li a {
  text-decoration: none;
}

.post.archive .meta ul.tags li a:hover {
  text-decoration: none;
}

.post.archive h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.post.archive h1 a {
  text-decoration: none;
}

.post.archive time {
  font-size: 0.8rem;
}

.post .body {
  margin: 1.5rem 0;
}

.post .body p {
  margin: 0 0 1rem 0;
}

.post .body h1,
.post .body h2,
.post .body h3,
.post .body h4,
.post .body h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.post .body h1 {
  font-size: 1.8rem;
  position: sticky;
  z-index: 10;
  background-color: #fff;
  padding: 0.25rem 0;
  top: 0px !important;
}

.post h2 {
  font-size: 1.6rem;
}

.post h3 {
  font-size: 1.4rem;
}

.post h4 {
  font-size: 1.2rem;
}

.post h5 {
  font-size: 1.1rem;
}

.post blockquote {
  padding: 0 1rem;
  border-left: 5px solid #e5e5e5;
  color: #666;
  font-style: italic;
  font-weight: 500;
}

.post pre code {
  display: block;
  max-height: 30rem;
}

.post code {
  overflow: auto;
  padding: 0.5rem 0.75rem;
}

.post ul {
  margin: 1rem 0;
}

.post p code,
.post li > code,
.post td code {
  vertical-align: middle;
  display: inline;
  margin-right: 0.2rem;
  background-color: rgba(175, 184, 193, 0.2);
  white-space: pre-wrap;
  padding: 0.2em 0.4em;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.post table {
  border-collapse: collapse;
  margin: 1rem 0;
  line-height: 1.5;
}

.post table,
.post td,
.post th {
  border: 1px solid #d0d7de;
  padding: 10px;
}

.post hr {
  height: 0.25rem;
  padding: 0;
  margin: 24px 0;
  background-color: lightgray;
  border: 0;
}

.post img {
  max-width: 100%;
  box-sizing: content-box;
}

.post img[align='left'] {
  padding-right: 1.25rem;
}

.post img[align='right'] {
  padding-left: 1.25rem;
}

.meta.taxonomy {
  margin: 1.5rem 0 1rem;
}

.meta ul.tags {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.meta ul.tags li {
  padding: 0 0.4rem 0.2rem;
  border-radius: 1rem;
  border: 1px solid #333;
}

.meta ul.tags li a {
  text-decoration: none;
}

.meta ul.tags li a:hover {
  text-decoration: underline;
}

.meta + .post {
  margin-top: 1rem;
}

.meta.taxonomy:not(:first-child) {
  margin-top: 4rem;
}

footer {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
}

footer .inner {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  height: 3rem;
  margin: 0 1rem;
}

footer .inner li {
  display: inline;
}

footer .inner li a {
  text-decoration: none;
}

footer .inner li a:hover {
  text-decoration: underline;
}

footer .inner ul {
  padding: 0;
}

footer .inner ul.left li {
  padding: 0 1rem 0 0;
}

footer p {
  color: lightgray;
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--nav-height));
}

@media only screen and (min-width: 1441px) {
  .inner {
    width: 60rem;
  }
}

@media only screen and (max-width: 1068px) {
  .inner {
    width: 42rem;
  }
}

@media only screen and (max-width: 734px) {
  .inner {
    max-width: 22rem;
    width: 87.5%;
  }
}
