<!DOCTYPE html>
<html>

<head>
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}{{ config.title }}</title>
  <link rel="stylesheet" href="/assets/main.css?{{ get_file_hash(path='static/assets/main.css', sha_type=256) }}" />
  <script defer data-domain="limboy.me" src="https://plausible.io/js/plausible.js"></script>
  {% block head %}{% endblock head %}
</head>

<body class="{% block bodyclass %}  {% endblock bodyclass %}">
  <nav class="flex justify-center items-center h-12 opacity-80 bg-black">
    <div class="inner flex justify-between items-center mx-1">
      <div class="color-white "><a class="nav-link" href="/">{{ config.title }}</a></div>
      <ul class="link">
        <li class="inline">
          <a class="nav-link" href="/about" class="decoration-0"> About
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="flex flex-col justify-between min-h-[calc(100vh-3rem)]">
    <div class="flex justify-center">
      <div class="inner mt-1 mb-2">
        {% block content %} {% endblock content %}
      </div>
    </div>
    {% block footer %}
    <footer class="flex border-t border-gray-300 text-gray-500 items-center justify-center h-12 text-sm mt-6">
      <div class="flex inner justify-between">
        <ul class="flex gap-2 sm:gap-4">
          <li> <a class="footer-link" href="https://twitter.com/_limboy" target="_blank"> Twitter </a> </li>
          <li> <a class="footer-link" href="https://github.com/limboy" target="_blank"> GitHub </a> </li>
        </ul>

        <p class="hidden opacity-20 sm:block">👻</p>

        <ul class="flex gap-2 sm:gap-4">
          <li> <a class="footer-link" href="https://2010-2021.limboy.me" target="_blank"> Old Articles </a> </li>
          <li> <a class="footer-link" href="{{ get_url(path='index.xml', trailing_slash=false) }}">RSS</a> </li>
        </ul>
      </div>
    </footer>
    {% endblock footer %}
  </div>

  {% block tail_script %}
  {% endblock tail_script %}
</body>

</html>