<!DOCTYPE html>
<html>

<head>
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="/assets/main.css?{{ get_file_hash(path='static/assets/main.css', sha_type=256) }}" />
  <script async defer data-domain="limboy.me" src="https://analytics.limboy.me/js/plausible.js"></script>
  {% block head %}{% endblock head %}
</head>

<body class="{% block bodyclass %}  {% endblock bodyclass %}">
  <nav class="flex justify-center items-center opacity-80 bg-black h-12 py-0 ">
    <div class="inner flex justify-between flex-row mx-1">
      <ul class="color-white flex flex-row justify-start gap-4">
        <li><a class="nav-link opacity-90 text-2xl" href="/">{{ config.title }}</a></li>
        <!--<li><a class="nav-link" href="/coodle">Coodle</a></li>-->
      </ul>
      <ul class="color-white flex flex-row gap-4 items-center text-base">
        <!--<li> <a class="nav-link" href="/books" class="decoration-0"> Books </a> </li>-->
        <li> <a class="nav-link" href="/highlights" class="decoration-0"> Highlights </a> </li>
        <li> <a class="nav-link" href="/projects" class="decoration-0"> Projects </a> </li>
        <li> <a class="nav-link" href="/about" class="decoration-0"> About </a> </li>
      </ul>
    </div>
  </nav>

  <div class="flex flex-col">
    <div id="wrapper" class="flex justify-center" style="min-height: calc(100vh - 6.5rem);">
      <div class="inner mb-2">
        {% block content %} {% endblock content %}
      </div>
    </div>
    {% block footer %}
    <footer
      class="flex border-t border-gray-300 text-gray-600 bg-gray-50 items-center justify-center h-12 text-sm mt-2">
      <div class="flex inner justify-center gap-4">
        <a class="hover:underline" href="https://github.com/limboy" target="_blank">GitHub</a>
        <a class="hover:underline" href="https://twitter.com/_limboy" target="_blank">Twitter</a>
        <a class="hover:underline" href="{{ get_url(path='index.xml', trailing_slash=false) }}">RSS</a>
      </div>
    </footer>
    {% endblock footer %}
  </div>

  {% block tail_script %}
  {% endblock tail_script %}

  <script>
    // 都是为了 iOS...
    document.querySelector("#wrapper").style.minHeight = `calc(${window.innerHeight}px - 6.5rem)`
    window.addEventListener('resize', () => {
      document.querySelector("#wrapper").style.minHeight = `calc(${window.innerHeight}px - 6.5rem)`
    })
  </script>
</body>

</html>