{% macro page_list(pages) %}

<div class="flex flex-col gap-2 my-6">
  {% for page in pages %}
  <a class="flex justify-between items-center px-4 py-1 -mx-4 hover:bg-gray-100 hover:rounded-md"
    href="{{page.permalink}}">
    <h3 class="text-lg">{{ page.title }}</h3>
    <time class="text-sm" style="font-family: var(--code-font-family);">{{ page.date}}</time>
  </a>
  {% endfor %}
</div>

{% endmacro page_list %}

{% macro coodle_list(pages) %}
<div class="mt-4 gap-4 lg:mt-6 2xl:mt-8 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
  {% for page in pages %}
  <div class="relative">
    <p style="bottom:6px; left:10px; color:rgba(255, 255, 255, 0.75); font-size:10px" class="absolute">{{page.date}}</p>
    <a href="{{ page.permalink }}">
      {% if page.extra.cover %}
      <img src="{{get_url(path=page.extra.cover)}}" />
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
{% endmacro coodle_list %}