{% macro page_list(pages) %}

<div class="flex mt-4 md:mt-6 flex-wrap gap-8">
  {% for page in pages %}
  <div class="article-item flex flex-col md:flex-row w-full rounded-lg overflow-hidden justify-between">
    <div class="bg-cover min-h-[250px] p-4 basis-56 md:basis-[40%]" {% if page.extra.cover %}
      style="background-image:url({{get_url(path=page.extra.cover)}})" {% endif %}>
      <div class="flex grow gap-1 flex-col justify-between p-4">
      </div>
    </div>
    <div class="flex flex-col bg-white basis-[60%] p-4 justify-between gap-4">
      <div class="flex grow gap-1 flex-col">
        <a class="block" href="{{ page.permalink }}">
          <h1 class="title font-medium text-2xl leading-tight">{{ page.title }}</h1>
          <time class="text-sm text-gray-500">{{ page.date }}</time>
          <p class="py-2">{{ page.description}}</p>
        </a>
      </div>
      {% if page.taxonomies.tags %}
      <ul class="tags flex gap-4">
        {% for tag in page.taxonomies.tags %}
        <li
          class="px-4 pb-[2px] leading-8 rounded-full border text-gray-700 border-gray-700 hover:text-gray-100 hover:border-gray-900 hover:bg-gray-900">
          <a class="inline-block" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag
            }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endmacro page_list %}

{% macro coodle_list(pages) %}
<div class="mt-4 gap-4 lg:mt-6 2xl:mt-8 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
  {% for page in pages %}
  <div class="relative">
    <p style="bottom:6px; left:10px; color:rgba(255, 255, 255, 0.75); font-size:10px" class="absolute">{{page.date}}</p>
    <a href="{{ page.permalink }}">
      {% if page.extra.cover %}
      <img src="{{get_url(path=page.extra.cover)}}" />
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
{% endmacro coodle_list %}