{% extends "base.html" %}

{% block title %}
{{ page.title }} -
{% endblock title %}

{% block head %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@_limboy">
<meta name="twitter:site" content="@_limboy">
<meta property="og:url" content="{{ page.permalink }}">

<meta name="twitter:title" content="{{ page.title }}">
<meta property="og:title" content="{{ page.title }}">

<meta property="og:description" content="{{ page.summary }}">
<meta name="twitter:description" content="{{ page.summary }}">

<meta name="twitter:image" content="{{ get_url(path=page.extra.cover) }}" />
<meta name="og:image" content="{{ get_url(path=page.extra.cover) }}" />
{% endblock head %}

{% block content %}
<div class="mt-6">
  {% if page.extra.cover %}
  <img class="w-full mb-4" src="{{get_url(path=page.extra.cover)}}" />
  {% endif %}

  <h1 class="title font-medium text-3xl"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
  <div class="flex gap-4 items-center mt-1">
    <time class="text-gray-500">{{ page.date }}</time>
  </div>
  <div class="prose lg:prose-xl max-w-full my-6">
    {{ page.content | safe }}
  </div>

  <ul class="tags flex items-center gap-2 mb-4">
    {% for tag in page.taxonomies.tags %}
    <li
      class="pb-[2px] mt-4 px-2 rounded-2xl border border-gray-700 hover:bg-gray-900 hover:text-gray-100 transition-all">
      <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag
        }}</a>
    </li>
    {% endfor %}
  </ul>

  <script src="https://giscus.app/client.js" data-repo="limboy/limboy.me" data-repo-id="R_kgDOGqD9cw"
    data-category="General" data-category-id="DIC_kwDOGqD9c84CAoVe" data-mapping="pathname" data-reactions-enabled="1"
    data-emit-metadata="0" data-theme="light" data-lang="en" crossorigin="anonymous" async>
    </script>

</div>
{% endblock content %}