@tailwind base;
@tailwind components;
@tailwind utilities;

.inner {
  width: 21rem;
}

@media screen(sm) {
  .inner {
    width: 30rem;
  }
}

@media screen(lg) {
  .inner {
    width: 42rem;
  }
}

@media screen(2xl) {
  .inner {
    width: 60rem;
  }
}

:root {
  --nav-color: #f5f5f7;
  --secondary-color: #000;
}

@layer components {
  .nav-link {
    @apply text-nav-color opacity-80 hover:opacity-100 transition-opacity;
  }

  .footer-link {
    @apply hover:decoration-gray-400 hover:underline;
  }
}

.prose a {
  color: #06c;
}

.prose a:hover {
  text-decoration: underline;
}

.prose p {
  margin: 0 0 1rem 0;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.prose h2 {
  font-size: 2rem;
  border-bottom: 3px solid lightgray;
}

.prose h2 {
  font-size: 1.75rem;
  border-bottom: 1px solid lightgray;
}

.prose h3 {
  font-size: 1.5rem;
}

.prose h4 {
  font-size: 1.25rem;
}

.prose h5 {
  font-size: 1.1rem;
}

.prose blockquote {
  padding: 0 1rem;
  border-left: 5px solid #e5e5e5;
  color: #555;
}

.prose pre {
  background-color: #f5f5f7 !important;
  margin: 1rem 0;
}

.prose pre code {
  display: block;
  max-height: 30rem;
}

.prose code {
  overflow: auto;
  padding: 0.5rem 0.75rem;
  font-size: 85%;
}

.prose ul {
  margin: 1rem 0;
}

.prose p code,
.prose li > code,
.prose td code {
  vertical-align: middle;
  display: inline;
  margin-right: 0.2rem;
  background-color: rgba(175, 184, 193, 0.2);
  white-space: pre-wrap;
  padding: 0.2em 0.4em;
  border-radius: 0.3rem;
}

.prose table {
  margin: 1rem 0;
  line-height: 1.5;
  overflow: auto;
  display: block !important;
}

.prose td,
.prose th {
  border: 1px solid #d0d7de;
  padding: 10px;
}

.prose hr {
  height: 0.25rem;
  padding: 0;
  margin: 24px 0;
  background-color: lightgray;
  border: 0;
}

.prose img {
  max-width: 100%;
  box-sizing: content-box;
  display: inline;
}

.prose img[align='left'] {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.prose img[align='right'] {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.prose ul {
  padding-left: 2em;
  list-style-type: disc;
}

.prose li + li {
  margin-top: 0.25rem;
}

.prose .info {
  background-color: #deeafd;
  color: #174ea6;
  padding: 1rem;
}

.prose .warn {
  background-color: #fff1e3;
  color: #191919;
  padding: 1rem;
}
